<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>$1.99</string>
		<key>coinsCount</key>
		<string>100</string>
		<key>iapid</key>
		<string>com.proiartt.aiclikes.listone</string>
		<key>displayname</key>
		<string>100</string>
	</dict>
	<dict>
		<key>price</key>
		<string>$2.99</string>
		<key>coinsCount</key>
		<string>300</string>
		<key>iapid</key>
		<string>com.proiartt.aiclikes.listtwo</string>
		<key>displayname</key>
		<string>300</string>
	</dict>
	<dict>
		<key>price</key>
		<string>$3.99</string>
		<key>coinsCount</key>
		<string>500</string>
		<key>iapid</key>
		<string>com.proiartt.aiclikes.listthree</string>
		<key>displayname</key>
		<string>500</string>
	</dict>
	<dict>
		<key>price</key>
		<string>$5.99</string>
		<key>coinsCount</key>
		<string>1000</string>
		<key>iapid</key>
		<string>com.proiartt.aiclikes.listfour</string>
		<key>displayname</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>price</key>
		<string>$6.99</string>
		<key>coinsCount</key>
		<string>2000</string>
		<key>iapid</key>
		<string>com.proiartt.aiclikes.listfive</string>
		<key>displayname</key>
		<string>2000</string>
	</dict>
	<dict>
		<key>price</key>
		<string>$7.99</string>
		<key>coinsCount</key>
		<string>3000</string>
		<key>iapid</key>
		<string>com.proiartt.aiclikes.listsix</string>
		<key>displayname</key>
		<string>3000</string>
	</dict>
	<dict>
		<key>price</key>
		<string>$8.99</string>
		<key>coinsCount</key>
		<string>4000</string>
		<key>iapid</key>
		<string>com.proiartt.aiclikes.listseven</string>
		<key>displayname</key>
		<string>4000</string>
	</dict>
	<dict>
		<key>price</key>
		<string>$9.99</string>
		<key>coinsCount</key>
		<string>5000</string>
		<key>iapid</key>
		<string>com.proiartt.aiclikes.listeight</string>
		<key>displayname</key>
		<string>5000</string>
	</dict>
</array>
</plist>
